<div id="dashbody_packages">
  <div class="dashbodyHead">
    <div class="row-fluid">
      <div class="span9">
        <div class="tipbox"><i class="icon-info-sign pull-left"></i>
          <p class="pll">
            Click change view in right side to see more detail information of packages. Click in package
            icon to
            view items inside.
          </p>
        </div>
      </div>
      <div class="span3">
        <div class="controlbox pull-right">
          <ul class="nav nav-pills">
            <li><a href="#" class="icon-th"></a></li>
            <li><a href="#" class="icon-list"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="dashbodyMain">
    <div id="listPackages" class="clearfix">
      <% @packages.each do |p| %>
        <div class="package">
          <div class="package-inner">
            <a href="<%= package_path(p) %>">
              <span class="title">
                <%= p.name %>
              </span>
            </a>
          </div>
        </div>
      <% end %>
      <div class="package addnew">
        <div class="package-inner">
          <a href= <%= new_package_path %>>
            <span class="add"><i class="icon-plus mrl"></i>add</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
