mixin notepad
	#notepad
		.noteText
			p Dear everyone,
			p.
				Bad things happen. Sometimes, they happen to you. If something does happen,
				you might wish there was something you had told the people around you.
				How you feel, what you regret, where the money is stashed.<br/>
				For this, you need this site to keep things most important words wnat to say with your familiers
				when you can not.



mixin introduce
	#introduce
		h3.lead.
			Start your Plan and <br/>
			keep best stuffs every day!
		ul.unstyled
			li
				i.icon-info-sign.pull-left
				p.pll.
					Bad things happen. Sometimes, they happen to you. If something does happen, you might wish there was
					something you had told the people around you.
			li
				i.icon-info-sign.pull-left
				p.pll.
					You write a few e-mails and choose the recipients. These emails are stored securely, so you can be
					sure that no-one except the intended recipient will ever read them.
			li
				i.icon-info-sign.pull-left
				p.pll.
					The emails are sent at certain intervals. By default, the switch will email you 30, 45, and 52 days
					after you last showed signs of life.