<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Hello, <%= @user.email %></p>
We hope that this message finds you in good health. In fact, we really need
to know that it does, so please check back with us and let us know you are fine.
<br/>
<br/>
We last saw you on <%= @user.check_date_time %>
<br/>
<br/>
To update your status, just visit the following address:
<br/>
<%= "#{ENV['ROOT_SITE_URL']}/check_in/welcomeback?code=#{@user.validate_code}" %>
<br/>
<br/>
Hope to see you there.
</body>
</html>
<%= raw @e%>