<div class="pageBody">
  <div class="container">
    <div class="whitebox wizard">
      <div class="row-fluid">
        <% if @ok %>
          <h3>Welcome back! <%= "#{@user.first_name} #{@user.last_name}" %></h3>
          <h4>Next validate day is : <%= @user.check_date_time + @user.frequency.days %> </h4>

        <% else %>
          <h2> Sorry, but I don't known what you want !</h2>
        <% end %>
      </div>
    </div>
  </div>
</div>









