<script>
    $(document).ready(function () {
        $('#label-leader').text("Edit Item");
    });
</script>

<br/>
<h3>In construction ... </h3>
<div class="spacing ptl"></div>
<%= puts @item.errors.full_messages %>
<%= form_for [@package, @item] do |f| %>
    <label class="control-label">Name</label>
    <%= f.text_field :name, :required => true %>
    <label class="control-label">Desciption</label>
    <%= f.text_area :description, :rows => 3 %>
    <div class="spacing ptl"></div>

    <button type="submit" class="btn btn-primary"><i class="icon-save mrm"></i>Update Item</button>

<% end %>
