.last-col {
  overflow: hidden;
}
.ptn,
.pvn,
.pan {
  padding-top: 0;
}
.ptx,
.pvx,
.pax {
  padding-top: 3px;
}
.pts,
.pvs,
.pas {
  padding-top: 5px;
}
.ptm,
.pvm,
.pam {
  padding-top: 10px;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px;
}
.prn,
.phn,
.pan {
  padding-right: 0;
}
.prx,
.phx,
.pax {
  padding-right: 3px;
}
.prs,
.phs,
.pas {
  padding-right: 5px;
}
.prm,
.phm,
.pam {
  padding-right: 10px;
}
.prl,
.phl,
.pal {
  padding-right: 20px;
}
.pbn,
.pvn,
.pan {
  padding-bottom: 0;
}
.pbx,
.pvx,
.pax {
  padding-bottom: 3px;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 10px;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px;
}
.pln,
.phn,
.pan {
  padding-left: 0;
}
.plx,
.phx,
.pax {
  padding-left: 3px;
}
.pls,
.phs,
.pas {
  padding-left: 5px;
}
.plm,
.phm,
.pam {
  padding-left: 10px;
}
.pll,
.phl,
.pal {
  padding-left: 20px;
}
.mtn,
.mvn,
.man {
  margin-top: 0px;
}
.mtx,
.mvx,
.max {
  margin-top: 3px;
}
.mts,
.mvs,
.mas {
  margin-top: 5px;
}
.mtm,
.mvm,
.mam {
  margin-top: 10px;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px;
}
.mrn,
.mhn,
.man {
  margin-right: 0px;
}
.mrx,
.mhx,
.max {
  margin-right: 3px;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px;
}
.mrm,
.mhm,
.mam {
  margin-right: 10px;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0px;
}
.mbx,
.mvx,
.max {
  margin-bottom: 3px;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 10px;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px;
}
.mln,
.mhn,
.man {
  margin-left: 0px;
}
.mlx,
.mhx,
.max {
  margin-left: 3px;
}
.mls,
.mhs,
.mas {
  margin-left: 5px;
}
.mlm,
.mhm,
.mam {
  margin-left: 10px;
}
.mll,
.mhl,
.mal {
  margin-left: 20px;
}
body {
  background-color: #f3f3f3;
  font-family: 'Open Sans', 'helvetica neue', helvetica, Arial, "Times New Roman";
  font-size: 12px;
}
body .pageHeader {
  padding-top: 20px;
}
body .pageBody {
  padding: 20px 0 0;
}
body a,
body a:hover,
body a.active {
  text-decoration: none;
}
.minHeight {
  min-height: 723px;
}
.handwrite {
  font-family: 'Chalkduster';
}
.inputBlack {
  background-color: #3d4555;
  border: solid 1px #343c4b;
  color: #aab3c6;
  -webkit-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  -moz-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  color: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
}
.btn-primary {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: 0 0 5px rgba(0,0,0,0.1), 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #37608e;
  background-image: none;
  padding: 7px 15px;
  font-size: 13px;
  color: #e3e4eb;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.35);
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #0072bc;
  background-position: top left;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.shadowVertical {
  background: url('../img/shadowvertical.png') top right no-repeat;
  padding-right: 20px;
  min-height: 723px;
}
.pageNavigator ul li a {
  display: inline-block;
  padding: 4px 7px;
  color: #767881;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
  border-bottom: solid 3px #e3e4eb;
}
.pageNavigator ul li:hover a,
.pageNavigator ul li.active a {
  color: #575757;
  border-bottom: solid 3px #767881;
}
.headerTop {
  margin-bottom: 20px;
}
.headerMid {
  background: url('../img/bluepaper.png') top left repeat;
}
.headerMid .headerMid-inner {
  padding: 20px 10px;
  padding-bottom: 0;
  -webkit-box-shadow: inner 0 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow: inner 0 0 10px rgba(0,0,0,0.5);
  box-shadow: inner 0 0 10px rgba(0,0,0,0.5);
  color: inner 0 0 10px rgba(0,0,0,0.5);
  position: relative;
}
.headerMid .headerCont1 {
  padding-right: 266px;
}
.headerMid .intro {
  padding-left: 370px;
}
.headerMid .rightMid {
  position: absolute;
  top: 10px;
  right: 0;
}
@media (max-width: 979px) {
  .headerMid .headerCont1 > div {
    float: none;
  }
  .headerMid .headerCont1 #notepad {
    display: none;
  }
  .headerMid .headerCont1 .intro {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .headerMid .headerCont1 {
    padding-right: 0;
  }
  .headerMid .headerCont1 .intro {
    padding-left: 0;
    margin-bottom: 20px;
  }
  .headerMid .rightMid {
    top: 0;
    right: 0;
    position: relative;
    margin-bottom: 20px;
  }
}
.headerMid .well {
  background-color: #2e3440;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.1) inset;
  box-shadow: 0 0 15px rgba(0,0,0,0.1) inset;
  color: 0 0 15px rgba(0,0,0,0.1) inset;
  border: none;
}
@media (max-width: 480px) {
  #logo {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
.whitebox {
  background-color: #ffffff;
  padding: 20px;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  margin-bottom: 40px;
}
.halfpage {
  background: url('../img/halftpage.png') left top no-repeat;
  width: 378px;
  height: 383px;
}
.wizard .notice {
  color: #767881;
}
.wizard #signupQuick {
  padding-top: 20px;
}
.wizard #signupQuick form .control-label {
  width: 90px;
}
.wizard #signupQuick form .controls {
  margin-left: 100px;
}
.wizard .contentHalfPage {
  padding-top: 20px;
}
.wizard .halfpage .halfpage-inner {
  padding: 33px;
}
.footerline {
  padding: 20px 0;
  border-top: solid 3px #e3e4eb;
}
#loginQuickPanel {
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 1px 0 rgba(171, 171, 171, 0.09);
  -moz-box-shadow: 1px 1px 0 rgba(171, 171, 171, 0.09);
  box-shadow: 1px 1px 0 rgba(171, 171, 171, 0.09);
  color: 1px 1px 0 rgba(171, 171, 171, 0.09);
}
#loginQuickPanel form {
  margin-bottom: 0;
}
#loginQuickPanel .login-inner {
  background-color: #394252;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  padding: 3px;
}
#loginQuickPanel .login-inner .login-inner2 {
  -webkit-border-radius: 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 7px;
  -moz-background-clip: padding;
  border-radius: 7px;
  background-clip: padding-box;
  background: url("../img/bluepaper.png") left top repeat;
  padding: 13px;
  -webkit-box-shadow: 1px 1px 0 rgba(171, 171, 171, 0.09) inset;
  -moz-box-shadow: 1px 1px 0 rgba(171, 171, 171, 0.09) inset;
  box-shadow: 1px 1px 0 rgba(171, 171, 171, 0.09) inset;
  color: 1px 1px 0 rgba(171, 171, 171, 0.09) inset;
}
#loginQuickPanel .login-inner .login-inner2 .loginHead {
  margin-bottom: 20px;
}
#loginQuickPanel .login-inner .login-inner2 .loginHead .title {
  color: #8f97b9;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 15px;
}
#loginQuickPanel .login-inner .login-inner2 .loginHead .signupLink {
  font-size: 13px;
  color: #aab3c6;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
#loginQuickPanel .login-inner .login-inner2 .loginHead .signupLink:hover {
  cursor: pointer;
  color: #ffffff;
}
#loginQuickPanel .login-inner .login-inner2 .loginBody input[type="text"],
#loginQuickPanel .login-inner .login-inner2 .loginBody input[type="password"] {
  background-color: #3d4555;
  border: solid 1px #343c4b;
  color: #aab3c6;
  -webkit-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  -moz-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  color: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
}
#loginQuickPanel .login-inner .login-inner2 .loginBody button {
  position: relative;
  z-index: 1;
  margin-left: 30px;
}
#loginQuickPanel .login-inner .login-inner2 .loginBody .signupsmall {
  position: relative;
  margin-left: -50px;
  z-index: 0;
  background-color: #28517e;
  padding: 3px 10px;
  font-size: 11px;
  color: #b6b9cb;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
@media (max-width: 480px) {
  #loginQuickPanel .login-inner .login-inner2 .loginBody .signupsmall {
    margin-left: 10px;
  }
}
#loginQuickPanel .login-inner .login-inner2 .loginBody .signupsmall:hover {
  margin-left: -5px;
  color: #e3e4eb;
}
@media (max-width: 480px) {
  #loginQuickPanel .login-inner .login-inner2 .loginBody .signupsmall:hover {
    margin-left: 10px;
  }
}
#loginQuickPanel .login-inner .login-inner2 .loginBody .submitdiv {
  padding-top: 30px;
}
#loginQuickPanel .login-inner .login-inner2 .loginBody .forgot {
  color: #8f97b9;
  font-size: 11px;
  line-height: 1;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
#loginQuickPanel .login-inner .login-inner2 .loginBody .forgot:hover {
  color: #aab3c6;
}
#loginQuickPanel .login-inner .login-inner2 .rememberme {
  width: 70%;
  padding-top: 10px;
  color: #8f97b9;
  margin: 0 auto;
}
#accountBox .accTitle {
  color: #595d6f;
  font-family: 'Chalkduster';
  font-size: 15px;
  padding-bottom: 10px;
}
#accountBox ul {
  font-size: 11px;
}
#accountSignIn {
  min-height: 723px;
}
#accountSignIn input[type="text"],
#accountSignIn input[type="password"] {
  background-color: #3d4555;
  border: solid 1px #343c4b;
  color: #aab3c6;
  -webkit-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  -moz-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  color: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
}
#accountSignIn .accountSignIn-inner {
  padding-top: 100px;
}
.tiphelp {
  background: url('../img/shadowvertical.png') top right no-repeat;
  padding-right: 20px;
  min-height: 723px;
  padding: 0;
  padding-left: 27px;
  background-position: top left;
}
#accountSignUp input[type="text"],
#accountSignUp input[type="password"],
#accountSignUp input[type="number"] {
  background-color: #3d4555;
  border: solid 1px #343c4b;
  color: #aab3c6;
  -webkit-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  -moz-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  color: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
}
#accountSignUp select {
  background-color: #3d4555;
  border: solid 1px #343c4b;
  color: #aab3c6;
  -webkit-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  -moz-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  color: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
}
#accountSignUp legend {
  color: white;
}
#addpackage input[type="text"],
#addpackage input[type="password"],
#addpackage input[type="number"],
#addpackage select,
#addpackage textarea {
  background-color: #3d4555;
  border: solid 1px #343c4b;
  color: #aab3c6;
  -webkit-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  -moz-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  color: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
}
#addttem input[type="text"],
#addttem input[type="password"],
#addttem input[type="number"],
#addttem select,
#addttem textarea {
  background-color: #3d4555;
  border: solid 1px #343c4b;
  color: #aab3c6;
  -webkit-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  -moz-box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  box-shadow: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
  color: 0 0 7px rgba(20, 20, 20, 0.1) inset, 1px 1px 0 rgba(255,255,255,0.04);
}
#notepad {
  background: url('../img/paperyellow.png');
  width: 383px;
  height: 316px;
  margin-left: -24px;
  position: relative;
}
#notepad .noteText {
  height: 279px;
  left: 60px;
  position: absolute;
  top: 89px;
  width: 282px;
  font-family: 'Chalkduster', 'Open sans';
  font-size: 11px;
}
#introduce {
  color: #aab3c6;
}
#introduce .lead {
  font-family: 'Open Sans';
  color: #e3e4eb;
  font-weight: 200;
  font-size: 20px;
}
#introduce p {
  font-size: 11px;
  line-height: 18px;
}
#tipLarge img {
  margin-top: 16px;
}
#tipLarge .tipUnit {
  margin-bottom: 10px;
  width: 50%;
  float: left;
  margin-bottom: 20px;
}
#tipLarge .tipUnit .tipUnit-inner {
  padding: 10px;
}
#tipLarge .tipUnit h3 {
  font-weight: 200;
  font-size: 25px;
  color: #0072bc;
  line-height: 33px;
}
#tipLarge .tipUnit .infoUnit {
  padding-left: 120px;
}
#tipLarge .tipUnit .infoUnit p {
  color: #767881;
}
#dashboard {
  color: #aab3c6;
}
#dashboard hr.divider {
  height: 0px;
  border-top: solid 1px #323d54;
  border-bottom: solid 1px #535967;
  margin-bottom: 0;
}
#dashboard .dashboard-head h1.lead {
  font-size: 40px;
  font-weight: 200;
  color: #e3e4eb;
}
#dashMenu {
  background: url('../img/shadowvertical.png') top right no-repeat;
  padding-right: 20px;
  min-height: 723px;
}
#dashMenu a {
  display: block;
  padding: 30px 25px;
  font-size: 25px;
  color: #e3e4eb;
  font-weight: 200;
  text-align: right;
  background: url('../img/shadowhorizon.png') top right no-repeat;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#dashMenu li:hover a,
#dashMenu li:focus a,
#dashMenu li.active a {
  color: white;
}
#dashbody_packages {
  padding-top: 20px;
}
#dashbody_packages .tipbox i {
  margin-top: 5px;
}
#dashbody_packages .controlbox a {
  font-size: 30px;
  color: #aab3c6;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#dashbody_packages .controlbox li:hover a,
#dashbody_packages .controlbox li.active a,
#dashbody_packages .controlbox li:focus a {
  color: white;
  background: none;
}
.package-inner-style {
  width: 162px;
  height: 162px;
  border: dashed 2px #2e3440;
  display: table;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  -moz-box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  color: 1px 1px 0 rgba(125, 139, 162, 0.13);
  background: url('../img/packageicon.png') center center no-repeat #424a59;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.package-inner-style a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.package-inner-style a span.title {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
  display: block;
  margin: 0 20px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  color: white;
}
#listPackages .package {
  float: left;
  width: 25%;
  margin-bottom: 25px;
}
#listPackages .package .package-inner {
  width: 162px;
  height: 162px;
  border: dashed 2px #2e3440;
  display: table;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  -moz-box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  color: 1px 1px 0 rgba(125, 139, 162, 0.13);
  background: url('../img/packageicon.png') center center no-repeat #424a59;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#listPackages .package .package-inner a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#listPackages .package .package-inner a span.title {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
  display: block;
  margin: 0 20px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  color: white;
}
#listPackages .package.addnew .package-inner {
  background-image: none;
}
#listPackages .package.addnew .package-inner .add {
  font-size: 30px;
  color: white;
}
#listPackages .package:hover .package-inner {
  background-color: #373e4a;
}
#dashbody_items {
  padding-top: 20px;
}
#dashbody_items .dashbodyMain.well {
  max-height: 600px;
}
#dashbody_items .tipbox i {
  margin-top: 5px;
}
#dashbody_items .controlbox a {
  font-size: 30px;
  color: #aab3c6;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#dashbody_items .controlbox li:hover a,
#dashbody_items .controlbox li.active a,
#dashbody_items .controlbox li:focus a {
  color: white;
  background: none;
}
#dashbody_items .packagedetail {
  margin-bottom: 20px;
}
#dashbody_items .packagedetail .package {
  float: left;
}
#dashbody_items .packagedetail .package .package-inner {
  width: 162px;
  height: 162px;
  border: dashed 2px #2e3440;
  display: table;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  -moz-box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  color: 1px 1px 0 rgba(125, 139, 162, 0.13);
  background: url('../img/packageicon.png') center center no-repeat #424a59;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#dashbody_items .packagedetail .package .package-inner a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#dashbody_items .packagedetail .package .package-inner a span.title {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
  display: block;
  margin: 0 20px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  color: white;
}
#dashbody_items .packagedetail .packageinfo {
  padding-left: 200px;
}
#dashbody_items .packagedetail .packageinfo .packtitle {
  color: white;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 18px;
  display: block;
}
#dashbody_items .packagedetail .packageinfo > ul li {
  padding: 0 0 7px 0;
  font-size: 11px;
}
#dashbody_items .packagedetail .packageinfo > ul li > span {
  font-size: 13px;
}
#dashbody_items .packagedetail .packageinfo .recipient a {
  background-color: #24324c;
  color: #aab3c6;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 1px rgba(92, 113, 150, 0.46) inset;
  -moz-box-shadow: 1px 1px rgba(92, 113, 150, 0.46) inset;
  box-shadow: 1px 1px rgba(92, 113, 150, 0.46) inset;
  color: 1px 1px rgba(92, 113, 150, 0.46) inset;
  padding: 4px 10px;
  margin-right: 5px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#dashbody_items .packagedetail .packageinfo .recipient a:hover {
  color: white;
  background-color: #2c3d5d;
}
#listitems .item {
  float: left;
  width: 25%;
  margin-bottom: 25px;
}
#listitems .item .item-inner {
  width: 162px;
  height: 162px;
  display: table;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#listitems .item .item-inner a {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}
#listitems .item .item-inner a span.title {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px;
  display: block;
  margin: 0 20px;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  color: white;
}
#listitems .item .item-inner.text {
  background: url('../img/icontext.png') center center no-repeat transparent;
}
#listitems .item .item-inner.zip {
  background: url('../img/iconzip.png') center center no-repeat transparent;
}
#listitems .item .item-inner.image {
  background: url('../img/iconimage.png') center center no-repeat transparent;
}
#listitems .item.addnew .item-inner {
  background-image: none;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  border: dashed 2px #030405;
  -webkit-box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  -moz-box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  box-shadow: 1px 1px 0 rgba(125, 139, 162, 0.13);
  color: 1px 1px 0 rgba(125, 139, 162, 0.13);
  background-color: #232831;
}
#listitems .item.addnew .item-inner a {
  vertical-align: middle;
}
#listitems .item.addnew .item-inner .add {
  font-size: 30px;
  color: white;
}
#listitems .item:hover .item-inner {
  background-color: #373e4a;
}
@media (max-width: 480px) {
  #chooseItemKind .item {
    width: auto;
    float: none;
    text-align: center;
  }
}
@media (max-width: 480px) {
  #chooseItemKind .item .item-inner {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  #dashMenu {
    background: none;
    min-height: 0;
    height: auto;
  }
  #dashMenu ul {
    overflow: hidden;
  }
  #dashMenu ul li {
    float: left;
  }
  #dashMenu ul li a {
    padding-top: 5px;
    padding: 5px 23px 15px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .headerTop .container > div {
    text-align: center;
    float: none;
  }
}
@media (max-width: 768px) {
  .headerTop .container > div #headerRight > div {
    float: none;
    text-align: center;
  }
  .headerTop .container > div #headerRight .pageNavigator {
    margin: 0 auto 20px;
    width: 280px;
  }
  .headerTop .container > div #headerRight #accountBox {
    text-align: center;
  }
  .headerTop .container > div #headerRight #accountBox ul li {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #listPackages .package {
    width: 33.333333333333336%;
  }
}
@media (min-width: 480px) and (max-width: 687px) {
  #listPackages .package {
    width: 33.333333333333336%;
  }
}
@media (max-width: 480px) {
  #listPackages .package {
    width: 50%;
  }
  #listPackages .package .package-inner {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 980px) {
  #listitems .item {
    width: 33.333333333333336%;
  }
}
@media (max-width: 480px) {
  #listitems .item {
    width: 50%;
  }
}
#listitems .item .item-inner {
  width: 150px;
  height: 150px;
}
@media (max-width: 480px) {
  #dashbody_items .packagedetail .packtitle {
    line-height: 32px !important;
  }
}
@media (max-width: 480px) {
  #dashbody_items .recipient a {
    display: inline-block;
    margin-bottom: 5px;
  }
}
@media (max-width: 480px) {
  #tipLarge .tipUnit {
    width: 100%;
  }
  #tipLarge .tipUnit .infoUnit {
    padding-left: 0;
  }
  #tipLarge .tipUnit img {
    margin: 0 10px 10px 0;
  }
  #tipLarge .tipUnit p {
    display: block;
    clear: both;
  }
}
.whitebox.wizard {
  overflow: hidden;
}
/* Large desktop */
